body
{
    background-color: #111010;
    color: white;
    font-family: 'Secular One', sans-serif;
    margin: 0;
    padding: 0;
}
/*Nav bar*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}
#nav-title 
{
    margin-right: auto;
    font-size: 1.5em;
}

.nav-bar li,a
{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    
}
a:hover
{
    color: #c2192b;
}
/*Main*/
.article
{
    display: flex;
    align-items: center;
    margin:  20px;
    
}
/*tarjetas*/
.tarjetas
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    
}
.tarjeta-individual
{
    background-color: #1e1f1f;
    text-align: center;
    width: 25%;
    padding: 20px;
}
.tarjeta-individual:hover
{
    background-color: red;
    

}


/*footer*/
.footer-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bar li,a
{
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    list-style: none;
    
}
